export USERNAME=root
export PASSWORD=
export DATABASE=efficient
export PORT=3306
export HOST=127.0.0.1
export DBDRIVER=mysql

# Used during Integration tests
export USERNAME_TEST=root
export PASSWORD_TEST=
export DATABASE_TEST=efficient_test
export PORT_TEST=3306
export HOST_TEST=127.0.0.1
export DBDRIVER_TEST=mysql